@charset "utf-8";
/* CSS Document */
body{
	background-color:#f6f5f5;
	margin:0px;
	padding:0px;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
section{
	width:100%;
	height:95vh;
	background-image:url("tester.jpg");
	background-size:cover;
	background-repeat:repeat;
	position: relative;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items:center;
	height:60px;
	background-color:#ffffff;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	padding:0px 5%;
	
}
nav ul{
	display: flex;
}

 
nav ul li a{
	margin:30px;
	font-family:myriad pro regular;
	color:#505050;
	font-size: 15px;
	font-weight:700;
}
.logo{
	font-family:RoadTest;
	color:#000000;
	font-size: 22px;
}
.active{
	color:#2d2a2a;
	font-weight:bold;
}

/* CONTENT CSS */
.model{
	height:430px;
	position:absolute;
	bottom:50px;
	left:75%;
	transform: translateX(-75%);
}
.text-container p:nth-child(1){
	font-family: calibri;
	font-weight:bold;
	color:#6d6d6d;
	font-size:22px;
}
.text-container p:nth-child(2){
	font-family:calibri;
	font-weight:bold;
	letter-spacing:1px;
	color:#1a1a1a;
	font-size:60px;
	
}
.text-container p:nth-child(3){
	font-family: myriad pro regular;
	color: #403e3e;
	font-size:30px;
	line-height:30px;
}
 
.text-container p{
	margin:45px 0px 25px;
	line-height:0px;
}

.text-container{
	position: absolute;
	left:13%;
	top:42%;
	transform:translate(-13%,-42%);
}

.down-cv{
	background-color:#0B0B0B;
	color:#fff;	
	border:none;
}
button:active{
	transform:scale(1.1);
}

/* ABOUT ME */
.about-container{
	width:80%;
	height:330px;
	background:#ffffff;
	border-radius:20px;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	display: flex;
	margin: -7%  auto 20px auto;
	position: relative;
	justify-content:space-evenly;
	align-items: center;
}
.about-container img{
	height:250px;
}
.about-text{
	width:500px;
} 
.about-text p:nth-child(1){
	color:#403e3e;
	font-family: myriad pro;
	font-weight:bold;
	font-size:23px;
	line-height:0px;
}
.about-text p:nth-child(2){
	color:#3e3d3d;
	font-size:13px;
	font-family: myriad pro;
	font-weight:bold;
	line-height:5px;
}
.about-text p:nth-child(3),.about-text p:nth-child(4){
	color:#535151;
	font-family:calibri;
	font-size:16px;
}
.about-text p:nth-child(5){
	color:#3e3d3d;
	font-family:calibri;
	font-size:16px;
	font-weight:bold;
}


/* EDUCATIONAL BACKGROUND */
  
.Educational_background{	
	font-family: calibri;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-weight:bold;
	color:#1d1c1c;
	font-size:30px;
	line-height:0px;
  } 

  /*TABLE */
* {
	font-family: sans-serif; /* Change your font family */
  }
  .content-table {
	border-radius:20px;
	margin-left:auto; 
	margin-right:auto;
  }
  .content-table {
	border-collapse: collapse;
	margin: 25px auto;
	font-size: 0.9em;
	min-width: 100px;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .content-table thead tr {
	background-color: #151616;
	color: #ffffff;
	text-align: left;
	font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
	padding: 12px 15px;
  }
  
  .content-table tbody tr {
	border-bottom: 1px solid #dddddd;
  }
  
  .content-table tbody tr:nth-of-type(even) {
	background-color: #e4e4e4;
  }
  
  .content-table tbody tr:last-of-type {
	border-bottom: 2px solid #151616;
  }
  
  .content-table tbody tr.active-row {
	font-weight: bold;
	color: #151616;
  }
  
 
/* CONTACT ME */
.contact-me{
	width: 100%;
	height:280px;
	background-size:cover;
	background-repeat:no repeat;
	background-image: url("project in your mind.png");
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0px 0px 20px 0px;
}
.contact-me p:nth-child(1){
	color:#FFFFFF;
	font-size: 30px;
	font-family: calibri;
	font-weight:bold;
	border-bottom:2px solid #ffffff;
}
.contact-me p:nth-child(2){
	color:#FFFFFF;
	font-size: 15px;
	font-family: calibri;
	font-weight:bold;
}

/* FOOTER */

footer{
	height:300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}
.social-icons a{
	width:40px;
	height:40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:#e6e3e3;
	margin:20px 10px;
	border-radius:50%;
}
.social-icons{
	display: flex;
	
}
.social-icons i,.social i{
	color:#000000;
}
.social-icons a:hover{
	background-color:#000000;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	transition:all ease 0.5s;
}
.social-icons a:hover i,
.social a:hover i{
	color:#FFFFFF;
	transition:all ease 0.5s;
}

.social{
	position: fixed;
	top:50%;
	right:0px;
	transform:translateY(-50%);
}
.social a{
	display: flex;
	justify-content: center;
	align-items: center;
	width:50px;
	height:50px;
	margin:0px;
	padding: 0px;
	line-height:0px;
	background-color:#FFFFFF;
	border:1px solid #CBCBCB;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
}
.social a:hover{
	background-color:#000000;
	transition:all ease 0.5s;
}
.social i{
	font-size:20px;
	color:#2B2B2B;
}
/* MEDIA */
@media(max-width:768px){
	*{
		box-sizing: border-box;
	}
	.content-table {
		margin-left:auto; 
		margin-right:auto;
	}
	.text-container{
		top:46%;
	}
	.text-container button{
		margin: 5px;
	}
	.about-container{
		width:90%;
		border-radius: 10px;
	}
	.about-container img{
		height: 200px;
	}
	.about-text{
		width: 400px;
	}
	.about-text p:nth-child(1){
		font-size: 20px;
	}
	.about-text p:nth-child(2){
		font-size: 10px;
	}
	
	.about-text p:nth-child(3),
	.about-text p:nth-child(4){
		font-size: 14px;
	}
	.services{
		padding: 2% 5% 0px 5%;
	}
	.box-container{
		justify-content: center;
		flex-wrap: wrap;
	}
	.services{
		height: auto;
	}
	.box-1,.box-2,.box-3{
		flex-grow: 1;
		margin: 10px;
	}
	.contact-me{
		height: 200px;
	}
	.contact-me p{
		font-size: 26px;
	}

}
@media(max-width:972px){
	
	.model{
		display: none;
	}
	.toggle{
		display: block;
	}
	.text-container p:nth-child(2){
		line-height: 40px;
		margin: 0px;
		padding: 0px;
		
	}
	.text-container{
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 80%;
	}
	nav ul{
		margin: 0px;
		padding: 0px;
		background-color: #ebeef4;
		flex-direction: column;
		position: fixed;
		left: 0;
		top: 0;
		width:100%;
		height: 100vh;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;
		display: none;
		
	}
	nav ul li{
		padding: 10px;
	}
	nav ul li a{
		font-family: calibri;
		font-size: 1.4em;
		text-transform: uppercase;
		color:#5c5c5c;
	}
	nav ul li a:hover{
		color:#121212;
	}
	.toggle:before{
		content: '\f0c9';
		font-family: fontAwesome;
		line-height: 30px;
		z-index: 1;
	}
	.toggle.active:before{
		content: '\f00d';
		position: fixed;
		right: 25px;
		line-height: 0px;
		
	}
	nav.active ul{
		display: flex !important;
	}
	.about-container{
		top: 0px;
		flex-direction: column;
		width:90%;
		height: auto;
		padding: 30px 0px;
		align-items: center;
	}
	.about-text{
		width:90%;
		text-align: center;
	}
	.services-text{
		width: 100%;
	}
	.contact-me{
		height: 180px;
	}
	.contact-me p{
		font-size: 18px;
	}
	
	
@media(max-width:368px){
	.Educational_background{	
	font-family: calibri;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		font-weight:bold;
		color:#1d1c1c;
		font-size:25px;
		line-height:0px;
		} 
	.contact-me p:nth-child(1){
		color:#FFFFFF;
		font-size: 20px;
		font-family: calibri;
		font-weight:bold;
		border-bottom:2px solid #ffffff;
		}
	}

@media(max-width:308px){
	.Educational_background{	
		font-family: calibri;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		font-weight:bold;
		color:#1d1c1c;
		font-size:15px;
		line-height:0px;
		}
	}
}
